<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite run for Twitter">

	<listeners>

		<listener class-name="Listener.TListener" />


	</listeners>


	<test name="Test on T Log In">
		<classes>
			<class name="TestCases.TLogIn" />
		</classes>
	</test> <!-- Test -->


	<test name="Test on Obama Search">
		<classes>
			<class name="TestCases.SearchObama" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
